@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply bg-white dark:bg-slate-800 text-slate-900 dark:text-white;
	font-family: 'Nunito', sans-serif;
}


.bg{
	background:#1d212b;
}

.custom-text {
    background: linear-gradient(45deg, #ff8b8b, #f9ff45);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-family: 'Play', sans-serif;
}

.scroll-container {
    overflow-x: scroll;
    white-space: nowrap;
    padding: 10px 0;
    /* Hide scrollbar for WebKit-based browsers */
    scrollbar-width: none; /* Firefox will use its default scrollbar style */
    -ms-overflow-style: none; /* Hide scrollbar for Microsoft Edge */
  }

  .scroll-container::-webkit-scrollbar {
    display: none; /* Hide scrollbar for WebKit-based browsers */
  }

  .scroll-item {
    display: inline-block;
    
    margin-right: 10px;
    position: relative;
  }

  .hide-scroll{
	scrollbar-width: none; /* Firefox will use its default scrollbar style */
    -ms-overflow-style: none; /* Hide scrollbar for Microsoft Edge */
  }
  .hide-scroll::-webkit-scrollbar {
    display: none; /* Hide scrollbar for WebKit-based browsers */
  }