@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply bg-white dark:bg-[#1d212b] text-slate-900 dark:text-white;
	font-family: 'Nunito', sans-serif;
}

*{
  outline: none!important;
}

.bg{
	background:#1d212b;
}
.custom-bg{
  background-color: linear-gradient(45deg, #fa784a, #1590f7);
 color: white;
}
.gradient-border {
  border: 2px solid transparent;
  background-clip: padding-box; /* Make sure the gradient is contained within the padding */
  border-image: linear-gradient(45deg, #fa784a, #1590f7); /* Define the gradient colors */
  border-image-slice: 1; /* Slices the border image */
}
.gradient-border-inv {
  border: 2px solid transparent;
  background-clip: padding-box; /* Make sure the gradient is contained within the padding */
  border-image: linear-gradient(45deg,  #1590f7, #fa784a,); /* Define the gradient colors */
  border-image-slice: 1; /* Slices the border image */
}
.custom-text {
    background: linear-gradient(45deg, #fa784a, #1590f7);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-family: 'Play', sans-serif;
}

.formarters{
  
}

  .formarters.active {
    background: #3e8cd8;
    color: white;
    border-radius: 5px;
    padding: 0.5rem;
}

h1{
  font-weight: bolder;
  font-size: larger;
}

/* Horror */
.horror {
  background-color: #f0000047;
  color: #f22323;
}

/* Fantasy */
.fantasy {
  background-color: #4a91e246;
  color: #325d8b;
}

/* Romance */
.romance {
  background-color: #ff73a246;
  color: #e0477d;
}

/* Adventure */
.adventure {
  background-color: #66cdab47;
  color: #388b70;
}

/* Mystery */
.mystery {
  background-color: #9c59b646;
  color: #6c389c;
}

/* Science Fiction */
.science {
  background-color: #95a5a645;
  color: #6b7b7c;
}

/* Historical Fiction */
.historical {
  background-color: #ffd7005c;
  color: #b1972c;
}

/* Thriller */
.thriller {
  background-color: #ff583346;
  color: #a33e20;
}

/* Comedy */
.comedy {
  background-color: #f4d03f46;
  color: #c4a428;
}

/* Drama */
.drama {
  background-color: #d3540044;
  color: #a23500;
}

.scroll-container {
    overflow-x: scroll;
    white-space: nowrap;
    padding: 10px 0;
    /* Hide scrollbar for WebKit-based browsers */
    scrollbar-width: none; /* Firefox will use its default scrollbar style */
    -ms-overflow-style: none; /* Hide scrollbar for Microsoft Edge */
  }

  .scroll-container::-webkit-scrollbar {
    display: none; /* Hide scrollbar for WebKit-based browsers */
  }

  .scroll-item {
    display: inline-block;
    
    margin-right: 10px;
    position: relative;
  }

  .hide-scroll{
	scrollbar-width: none; /* Firefox will use its default scrollbar style */
    -ms-overflow-style: none; /* Hide scrollbar for Microsoft Edge */
  }
  .hide-scroll::-webkit-scrollbar {
    display: none; /* Hide scrollbar for WebKit-based browsers */
  }